@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #84cfe4;
}

p,
button {
    font-size: 50px;
}

body,
.calculator-screen {
    display: flex;
    align-items: center;
}

.container {
    width: 450px;
    max-width: 95%;
    height: 600px;
    margin: 0 auto;
}

.calculator-screen {
    height: 20%;
    background-color: #505a65;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.screen-text {
    width: 90%;
    height: 70%;
    padding: 10px 0;
    padding-right: 15px;
    margin: 0 auto;
    background-color: #caccc9;
}

.screen-text p {
    text-align: right;
}

.calculator-body {
    height: 80%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    border: 1px solid #f2f3f5;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f2f3f5;
}

.calculator-body button {
    border: 1px solid #6b7c8c;
    background-color: #6b7c8c;
    cursor: pointer;
}

.calculator-body .operator {
    background-color: #4e5462;
    border-color: #4e5462;
}

#zero,
#equal {
    grid-column: span 2;
}

#equal,
#clear,
#backspace {
    background-color: red;
    border-color: red;
}

#equal:hover,
#clear:hover,
#backspace:hover {
    background-color: rgba(255, 0, 0, 0.719);
    border-color: rgba(255, 0, 0, 0.719);
}

.operator:hover {
    background-color: #4e5462e3;
    border-color: #4e5462e3;
}

.calculator-body button:hover {
    background-color: #6b7c8cde;
    border-color: #6b7c8cde;
}
