@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #84cfe4;
}

p,
button {
    font-size: 50px;
}

body,
.calculator-screen {
    display: flex;
    align-items: center;
}

.container {
    width: 450px;
    max-width: 95%;
    height: 600px;
    margin: 0 auto;
}

.calculator-screen {
    min-height: 20%;
    height: auto;
    background-color: #6bb3dd;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    word-break: break-all;
    line-height: 0.9;
}

.calculator-screen p {
    width: 100%;
    padding: 15px;
    padding-left: 5px;
    margin: 0 auto;
    background-color: #6bb3dd;
    text-align: right;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.calculator-body {
    height: 80%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    border: 1px solid #42d3c0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #42d3c0;
}

.calculator-body button {
    border: 1px solid #6b7c8c;
    background-color: #6475e2;
    cursor: pointer;
}

.calculator-body .operator,
#equal {
    background-color: #6bb3dd;
    border-color: #6bb3dd;
}

#zero,
#equal {
    grid-column: span 2;
}

#clear,
#undo {
    background-color: #e72841;
    border-color: #e72841;
}

#clear:hover,
#undo:hover {
    background-color: rgba(240, 22, 22, 0.904);
    border-color: rgba(240, 22, 22, 0.904);
}

.operator:hover,
#equal:hover {
    background-color: transparent;
    border-color: transparent;
}

.calculator-body button:not(.operator):hover {
    background-color: #4255d38c;
    border-color: #6b7c8cde;
}
